
<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
=======

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
>>>>>>> 5c2df2ee285032538fbf2c3b0254926bb77681b2
}

button {
  border-radius: 25px;
}
